<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>TSE Support Eng Review</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <script src=""></script>
    </head>
    <body>
        <main>
            <h1>{{ month }} {{ year }}</h1>

            <section>
                <h2>Section 1: {{ month }} Quick Numbers</h2>
                <ul>
                    <li>#: Inbound Support Eng Requests</li>
                    <li>#: Resolved Support Eng tickets</li>
                    <li>#: Issues resolved by TSEs</li>
                    <li>#: TSE escalated issues to engineering</li>
                    <li>#: New feature requests submitted</li>
                    <li>#: Incidents Called (# called after resolution)</li>
                    <li>#: Hi Priority (SEV0 or SEV1)</li>
                    <li>#: Incident impacted SUPPORT tickets</li>
                    <li>#: Postmortem Meetings held</li>
                    <li>#: Bugs (# regressions)</li>
                    <li>[eng_team]: Eng team with highest Support-eng ticket ownership (#)</li>
                    <li>[resolution_action]: Top resolution action (#)</li>
                    <li>[db_write_area]: Top database write product area (#)</li>
                </ul>
            </section>

            <section>
                <h2>Section 2: TSE Headlines and Highlights</h2>
                <p>Of the 76 non urgent (P2-P4) issues that were resolved in September, # issues were not first triaged by one of the TSE members. This trend up was a result of issues manually getting assigned to engineers after being filed.</p>
                <p>Of the 76 non urgent (P2-P4) issues TSE triaged first, # TSEs received help from engineers but was able to own, 32 needed engineering to take over.</p>
                <p>TSE owned 52% (Down -2% from June) of the non urgent issues.</p>
                <p>TSE handled 22% of the urgent issues in September.</p>
            </section>

            <section>
                <h2>Section 3: Projects and Processes</h2>
                <p>No data required.</p>
            </section>

            <section>
                <h2>Section 4: Ticket Resolution Trends</h2>
                <p>Database writes continued to top the resolution action taken in September, accounting for 36 tickets (40%) of the total resolved tickets for the month, an increase of +5% from June.</p>
                <p>In September, 11 tickets (12%) of the total issues resolved were caused by bugs. This is up +2% over last month, only 1 of these bugs was a regression. We can see this distribution of bugs across the product areas in the following table: “Django Admin or Clinical” had the highest concentration of support impacted tickets followed by “Research” and “Results”.</p>
                <p>Trends around the top 2 (DB Write and Bug) remained consistent however the 3rd highest resolving action is under the “By Design” category. An upswing in tickets that fall under this category is usually an indication that there is confusion or questions that could benefit from documentation or training to prevent in the future.</p>
            </section>

            <section>
                <h2>Section 5: Response and Resolution Time</h2>
                <p>This month, we saw response times go back up but remain close to the target of first response time goals. We attribute this to the adoption and conscious effort teams have made to update JIRA tickets as well as slack.  TSE will continue to proactively reach out in tickets to ensure first responses and updates are added in the comments.</p>
                <p>[Add content: Details for each priority category]</p>
            </section>

            <section>
                <h2>Section 6: TSE Impact and Opportunity</h2>
                <p>The TSE  “gate” continues to show positive trends with the TSE ownership of triaging P2, P3 and P4 (non-urgent) tickets in Support Engineering.</p>
                <p>TSEs closed 52% of non-urgent and 22% of urgent support tickets this month! This is a drop of -3% of the non urgent issue ownership over the month of June. As new products and processes have rolled out over September, the engineering teams have more tickets as TSE up-ramps on the new work needed to resolve or assist on issues.</p>
                <p>Each ticket in Support Eng is aligned with a part of the product based on the root cause of the issue.  We can see the work handled by TSE and the engineering team as it pertains to the different areas of the product below, looking at the portion of tickets owned by each group over the course of September.</p>
                <p>TSE hit it out of the park at owning 50% or more of the tickets in 14 of the 25 product areas. TSE had 100% ownership of 8 tickets in areas such as Vaccines, UI and/or Error, and Eligibility.  Opportunities for TSE to learn more and take greater ownership in tickets are in the Django Admin or Clinical, Essential Care, and Telehealth product areas.</p>
                <p>We are continuing to track issues that TSEs are escalating to engineering, so we can identify areas we can build up TSE skills and knowledge to reduce issues going to engineering.</p>
            </section>

            <section>
                <h2>Section 7: Incident Management</h2>
                <p>Let's start our incident management journey with a look at the volume of incidents that were reported in PagerDuty. In July, there were 32 events triggered, but not all these events in PagerDuty reflect incidents or impacts to our services that we want to focus on. Instead we want to focus on the High-Urgency incidents within PagerDuty. We can start by looking at the volume of these High Urgency issues across the month. Understanding when incidents were triggered can help us see patterns between launches and deployments. We can see across the following chart response and resolution average times for incidents by day.</p>
                <p>We can then take these volumes and statistics and cross it with last month to get a feel for the impacts month over month.</p>
                <p>The incident itself is one metric that is important, but often an incident involves additional work called action items that are tracked as separate tickets. For this piece of data, we take a look at all the tickets across all the product engineering teams, and look for the tickets with the ‘incident_managment” label. In July, we saw 12 new tickets generated as a result of incidents, the largest concentration of tickets is 3 handled by the LabX team.</p>
                <p>Not all tickets related to an incident are resolved within the same month as the incident was triggered.  For this reason we want to also take a look at the backlog of incident management tickets. The next set of numbers exposes the volume of tickets currently open that are part of one or more incident or action items.</p>
                <ul>
                    <li>Open issues: <a href="https://getcolor.atlassian.net/issues/?jql=labels+%3D+incident_management+AND+statusCategory+in+%282%2C+4%29+ORDER+BY+created+ASC+&src=confmacro">45 issues</a></li>
                    <li>Unassigned IN issues: <a href="https://getcolor.atlassian.net/issues/?jql=labels+%3D+incident_management+AND+statusCategory+in+%282%2C+4%29+AND+assignee+in+%28EMPTY%29+ORDER+BY+created+ASC+&src=confmacro">8 issues</a></li>
                    <li>Issues over 90 days old: <a href="https://getcolor.atlassian.net/issues/?jql=created+%3C%3D+-90d+AND+labels+%3D+incident_management+AND+statusCategory+in+%282%2C+4%29+ORDER+BY+created+ASC+++&src=confmacro">36 issues</a></li>
                    <li>Open Sev 0: <a href="https://getcolor.atlassian.net/issues/?jql=statusCategory+in+%282%2C+4%29+AND+%22Severity%5BDropdown%5D%22+%3D+SEV-0+ORDER+BY+created+ASC+&src=confmacro">2 issues</a></li>
                </ul>
                <p>We can also look at this information in the number of tickets assigned out to the different product area teams. Notable here is the distribution of work, which is not directly mapped to the volume of incidents assigned to a given team.</p>
                <p>Below is the volume of incident related tickets that were closed over the course of a month, and break it down by product area/service.  This view helps us understand what parts of the Color ecosystem are getting updates as a result of incidents or incident related work.</p>
            </section>

            <section>
                <h2>Section 8: Feature Requests</h2>
                <p>September was a slow month for inspiration with only 2 new feature requests submitted. With the implementation of Product area across all jira projects we can view these new requests by what part of the product the request pertains to, even before teams pick up the work.</p>
                <p>3 feature requests were productized in July and set to DONE.  This is independent of the cleanup efforts on the Feature Request backlog.  Congratulations to Precision Care for leading the charge with moving 2 feature requests to production.</p>
                <p>Open Feature Requests tickets dropped 24% to 211 as clean up on the feature request backlog continued. However this is still considered high for open requests in the process of or waiting to be built. TSE is continuing to work through the older tickets in an effort to clean up and remove outdated or done tasks, but with Q3 now upon us don’t forget to check out the feature request backlog to see if there is something there that overlaps with work that is being planned or inflight.</p>
                <p>Below is the volume of requests per product area or associated service. Like Support Eng tickets, this allows us to get a more granular view of the areas where requests for ‘new’ or ‘enhancements’ are being asked for without reading the full ticket. With this metric in place, the view of active requests associated with each of the 42 “product area / service” selections are independent of the different product teams that own them.</p>
            </section>

            <section>
                <p>Love these metrics and want to see them more than once a month? Check out our Confluence Space: <a href="https://getcolor.atlassian.net/wiki/spaces/TSE/pages/1904444327/Milestones+and+metrics+from+TSE+Gate">Milestones and Metrics from the TSE gate</a>.</p>
                <p>Cheers!</p>
                <p>Breana, Steph, Quevin, & Truman</p>
            </section>

            {% comment %} <iframe width="1128" height="482" src="https://aod.eazybi.com/accounts/64301/embed/report/924767?embed_token=scc9lrlvn9rm6hnoivatjgoqw0rgxomkann6q2jwvshdom45n7isyfm12cr9" frameborder="0"></iframe> {% endcomment %}

        </main>

        <script src="" async defer></script>
    </body>
</html>