{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>TSE Support Eng Review</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "styles/main.css" %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <script src=""></script>
    </head>
    <body>
        <main>
            <section id="section-splitview">
                <section id="section-splitview-left">
                    <section class="section" id="section-intro">
                        <p id="section-intro-title"><a href="https://getcolor.atlassian.net/wiki/spaces/TSE/pages/1875935604/Support+Eng+Review">Support Eng Review</a></p>
                        <h1>{{ month }} {{ year }}</h1>
                        <img src="{% static "images/tse_logo.png" %}">
                    </section>
                    <section class="section" id="section-1">
                        <h2>{{ month }} Quick Numbers</h2>
                        <ul>
                            <li>#: Inbound Support Eng Requests</li>
                            <li>#: Resolved Support Eng tickets</li>
                            <li>#: Issues resolved by TSEs</li>
                            <li>#: TSE escalated issues to engineering</li>
                            <li>#: New feature requests submitted</li>
                            <li>#: Incidents Called (# called after resolution)</li>
                            <li>#: Hi Priority (SEV0 or SEV1)</li>
                            <li>#: Incident impacted SUPPORT tickets</li>
                            <li>#: Postmortem Meetings held</li>
                            <li>#: Bugs (# regressions)</li>
                            <li>[eng_team]: Eng team with highest Support-eng ticket ownership (#)</li>
                            <li>[resolution_action]: Top resolution action (#)</li>
                            <li>[db_write_area]: Top database write product area (#)</li>
                        </ul>
                    </section>
                </section>

                <section id="section-splitview-right">
                    <section class="section" id="section-2">
                        <h2>TSE Headlines and Highlights</h2>
                        <ul>
                            <li>Of the 76 non urgent (P2-P4) issues that were resolved in September, # issues were not first triaged by one of the TSE members. This trend up was a result of issues manually getting assigned to engineers after being filed.</li>
                            <li>Of the 76 non urgent (P2-P4) issues TSE triaged first, # TSEs received help from engineers but was able to own, 32 needed engineering to take over.</li>
                            <li>TSE owned 52% (Down -2% from June) of the non urgent issues.</li>
                            <li>TSE handled 22% of the urgent issues in September.</li>
                        </ul>
                    </section>
                    <section class="section" id="section-3">
                        <h2>Projects and Processes</h2>
                        <ul>
                            <li>No data required.</li>
                        </ul>
                    </section>
                </section>
            </section>

            <section class="section" id="section-4">
                <h2>Ticket Resolution Trends</h2>
                <p>Database writes continue to top the resolution action taken in September, accounting for 39 tickets (41%) of the total resolved tickets for the month, a significant increase of +13% from August.</p>
                <div class="section-container section-4-container-1">
                    <iframe class="responsive-iframe" src="https://aod.eazybi.com/accounts/64301/embed/report/2004365?embed_token=bs89vumpaeip55k9s8akm0gabqaa2i0ts7j49zmxz96kw0w885g4q3r8laib" frameborder="0"></iframe>
                </div>
                <p>In September, 13 tickets (~14%) of the total issues resolved were caused by bugs. This is about even over last month. This is a good sign given the amount of code that was being pushed out for the new cancer product. We can see this distribution of bugs across the product areas was relatively even, no one product having a larger outstanding number of bugs compared to rest. What we do see is that there are more areas of the product with bug reports in September compared to other recent months. Given the number of teams releasing code and the overlap of areas that the new cancer product has, these numbers seem in line with the areas of impact but lower than expected given the speed and volume at which code was released in September.</p>
                <div class="section-container section-4-container-2">
                    <iframe class="responsive-iframe" src="https://aod.eazybi.com/accounts/64301/embed/report/2004972?embed_token=3vcmzxnzktucvbhfj6rfg980nxl3yrhwrpzpko7y8nudzn8q19edq2sfbaq7" frameborder="0"></iframe>
                </div>
                <p>Bugs were ranked 2 of top 3 resolving actions for September, the other top 2 were Database write in the #1 slot and existing tool or process in the #3 slot. The higher volume of database writes stems from a backlog of health history and insurance modification work that is being handled by the support team, some of which is escalated to Support Eng for modification. This work is expected to drop off over the next few weeks as the backlog is caught up.</p>
                <div class="section-container section-4-container-3">
                    <iframe class="responsive-iframe" src="https://aod.eazybi.com/accounts/64301/embed/report/2004980?embed_token=4ho0qnxochzmoclen6vgqldrjontvln7xcz7xxit9i5fhwun3any2trio0h3" frameborder="0"></iframe>
                </div>
            </section>

            <section class="section" id="section-5">
                <h2>Response and Resolution Time</h2>
                <p>This month, we saw response times increase, most notably for the P0 and P2 categories.  Some of our urgent issues were handled primarily in Slack and updates were not provided to the jira ticket until conclusion.  As a reminder not all individuals are in the slack channels watching for updates, please add status updates to tickets as well. TSE will continue to proactively reach out in tickets to ensure first responses and updates are added in the comments.</p>
                <div class="section-container section-5-container-1">
                    <iframe class="responsive-iframe" src="https://aod.eazybi.com/accounts/64301/embed/report/2004981?embed_token=7ewu6bukpjnnfuoij00v4wcq7clwlbv5a02o1e6ijgbmkd2a25sjww3kf1vo" frameborder="0"></iframe>
                </div>
                <p>September was a busy month for all teams, and Support Eng tickets were deprioritized in an effort to meet deadlines for the new cancer product.  We expected a trend up across all categories this month reflecting that change, but to our surprise our metrics were not greatly impacted in our non urgent issues.  We may see some residual uptick next month as some of the pushed out work is closed. Overall impressive work considering the balance of sprint work and on call work!</p>
                <p>TSE will continue to monitor tickets to identify ones that we can mark as resolved and ensure we close the loop with our reporters as quickly as possible.</p>
                <div class="section-container section-5-container-2">
                    <iframe class="responsive-iframe" src="https://aod.eazybi.com/accounts/64301/embed/report/2005051?embed_token=yh98tw32cfowu6qp0wxynuqjc2hixt5uslukdtvafccwfn0pz4nety4gtjth" frameborder="0"></iframe>
                </div>
            </section>

            <section class="section" id="section-6">
                <h2>TSE Impact and Opportunity</h2>
                <p>The TSE  “gate” continues to show positive trends with the TSE ownership of triaging P2, P3 and P4 (non-urgent) tickets in Support Engineering.</p>
                <p>TSEs closed 63% of non-urgent and 13% of urgent support tickets this month! While numbers for the non urgent issue ownership over the month of September increased, we saw ownership over urgent issues fall this month. As new products and processes have rolled out over September, the engineering teams have been working more closely with some of our reporters of incidents this last month removing the opportunity for TSE to triage urgent issues first and own till end.</p>
                <div class="section-container section-6-container-1">
                    <iframe class="responsive-iframe" width="1407" height="490" src="https://aod.eazybi.com/accounts/64301/embed/report/2005053?embed_token=igywudrttnmm0fhftnpyt02sp1q6mhzu1x8jfqxujjd8d7wd2gci9c0vlc5h" frameborder="0"></iframe>
                </div>
                <p>Each ticket in Support Eng is aligned with a part of the product based on the root cause of the issue.  We can see the work handled by TSE and the engineering team as it pertains to the different areas of the product below, looking at the portion of tickets owned by each group over the course of September.</p>
                <p>TSE once again continues to maintain owning 50% or more of the tickets in 15 of the 26 product areas. TSE had 100% ownership of 5 product areas such as “Results” and “State Reporting”. Opportunities for TSE to learn more and take greater ownership in tickets are in the product areas including “Django Admin/Clinical” and the “Provider” areas.</p>
                <div class="section-container section-6-container-2">
                    <iframe class="responsive-iframe" src="https://aod.eazybi.com/accounts/64301/embed/report/2005080?embed_token=t8ss3o75oqx3xkt5i20uz5ne8q1a1vcb44gdm4oh33nu1acfc04iqdbpijvy" frameborder="0"></iframe>
                </div>
                <p>We are continuing to track issues that TSEs are escalating to engineering, so we can identify areas we can build up TSE skills and knowledge to reduce issues going to engineering.</p>
                <div class="section-container section-6-container-3">
                    <iframe class="responsive-iframe" src="https://aod.eazybi.com/accounts/64301/embed/report/2005081?embed_token=9vhtz0xdend7tpcaqd8kq6mmwe2l2gdafj7bdqzijgt445e3fz4621b6llmm" frameborder="0"></iframe>
                </div>
            </section>

            <section class="section" id="section-7">
                <h2>Incident Management</h2>
                <p>TSE assists in the management of the Incident Jira Project. Part of this management includes capturing and cleaning up metadata, generating reports, managing ticket backlogs and escalating tickets that may be stalled or need assistance with closure.</p>
                <p>Let's start our incident management journey with a look at the volume of incidents that were reported in PagerDuty. In September, there were 29 events triggered, but not all these events in PagerDuty reflect incidents or impacts to our services that we want to focus on. Instead we want to focus on the High-Urgency incidents within PagerDuty. We can start by looking at the volume of these High Urgency issues across the month. Understanding when incidents were triggered can help us see patterns between launches and deployments. We can see across the following chart response and resolution average times for incidents by day.</p>
                <p>We can then take these volumes and statistics and cross it with last month to get a feel for the impacts month over month. In September, we saw a general trend in a positive direction in the number of incidents and the time to acknowledge.  The resolution time however did more than double over August, an uptick partially influenced by some of our dependence on vendors, but also something TSE hopes to help monitor.</p>
                <p>The incident itself is one metric that is important, but often an incident involves additional work called action items that are tracked as separate tickets. For this piece of data, we take a look at all the tickets across all the product engineering teams, and look for the tickets with the ‘incident_managment” label. In September, we saw 12 new tickets generated as a result of incidents, the largest concentration of tickets (4) handled by the LabX team.</p>
                <div class="section-container section-7-container-1">
                    <iframe class="responsive-iframe" src="https://aod.eazybi.com/accounts/64301/embed/report/2005082?embed_token=u52829a95ude3xi40w97r004tmz8u932d7zi2hddgw3u6aw4gwo5beuko4ne" frameborder="0"></iframe>
                </div>
                <p>Not all tickets related to an incident are resolved within the same month as the incident was triggered.  For this reason we want to also take a look at the backlog of incident management tickets. The next set of numbers exposes the volume of tickets currently open that are part of one or more incident or action items.  The implementation of a new automation (‘dependabot’) accounts for the large volume of P0 tickets that have remained open.</p>
                <ul>
                    <li>Open issues: <a href="https://getcolor.atlassian.net/issues/?jql=labels+%3D+incident_management+AND+statusCategory+in+%282%2C+4%29+ORDER+BY+created+ASC+&src=confmacro">45 issues</a></li>
                    <li>Unassigned IN issues: <a href="https://getcolor.atlassian.net/issues/?jql=labels+%3D+incident_management+AND+statusCategory+in+%282%2C+4%29+AND+assignee+in+%28EMPTY%29+ORDER+BY+created+ASC+&src=confmacro">8 issues</a></li>
                    <li>Issues over 90 days old: <a href="https://getcolor.atlassian.net/issues/?jql=created+%3C%3D+-90d+AND+labels+%3D+incident_management+AND+statusCategory+in+%282%2C+4%29+ORDER+BY+created+ASC+++&src=confmacro">36 issues</a></li>
                    <li>Open Sev 0: <a href="https://getcolor.atlassian.net/issues/?jql=statusCategory+in+%282%2C+4%29+AND+%22Severity%5BDropdown%5D%22+%3D+SEV-0+ORDER+BY+created+ASC+&src=confmacro">2 issues</a></li>
                </ul>
                <p>We can also look at this information in the number of tickets assigned out to the different product area teams. Notable here is the distribution of work, which is not directly mapped to the volume of incidents assigned to a given team.</p>
                <div class="section-container section-7-container-2">
                    <iframe class="responsive-iframe" src="https://aod.eazybi.com/accounts/64301/embed/report/2005083?embed_token=ouepj15dksqjdrdd73erjur6k7wy2ptkgh7a62xnf3wh2ax826rtfb3wguus" frameborder="0"></iframe>
                </div>
                <p>Below is the volume of incident related tickets that were closed over the course of a month, and break it down by product area/service. This view helps us understand what parts of the Color ecosystem are getting updates as a result of incidents or incident related work.</p>
                <div class="section-container section-7-container-3">
                    <iframe class="responsive-iframe" src="https://aod.eazybi.com/accounts/64301/embed/report/2005084?embed_token=robfrivlu1flx0bjd5v8tk8d7meh6761e402jz29m1hpcj9xc939euad2yn9" frameborder="0"></iframe>
                </div>
            </section>

            <section class="section" id="section-8">
                <h2>Feature Requests</h2>
                <p>Incoming feature requests dropped by 60% this month, however a majority of the issues remain around improvements to the experience with Canvas. We expect requests for modifications to Canvas to remain high as the new cancer program launches.</p>
                <div class="section-container section-8-container-1">
                    <iframe class="responsive-iframe" src="https://aod.eazybi.com/accounts/64301/embed/report/2005085?embed_token=gbyutb0cl5f776ndur3qhbtrqrgro0q3g6uqetufi5e6rtgjujxncz0vry6p" frameborder="0"></iframe>
                </div>
                <p>With the work around Cancer we saw no feature requests make it to production in the month of September. We hope to see more feature requests get completed in the coming months as work on cancer calms.</p>
                <div class="section-container section-8-container-2">
                    <iframe class="responsive-iframe" src="https://aod.eazybi.com/accounts/64301/embed/report/2005089?embed_token=d0c01r8nwwehazszsjogoy1obql2jfy0eisr4071v8aj193bv98ln3xbzj4p" frameborder="0"></iframe>
                </div>
                <p>Open Feature Requests tickets increased slightly this month as new requests came in and no movement occurred with the backlog. TSE plans to continue to work through the older tickets in an effort to clean up and remove outdated or done tasks.</p>
                <div class="section-container section-8-container-3">
                    <iframe class="responsive-iframe" src="https://aod.eazybi.com/accounts/64301/embed/report/2005087?embed_token=x40c47zk2u0dk4z0aweyraugp6i5sk1ls9cwbs15ugy8ctncakei1jaea1zu" frameborder="0"></iframe>
                </div>
                <p>Below is the volume of requests per product area or associated service. Like Support Eng tickets, this allows us to get a more granular view of the areas where requests for ‘new’ or ‘enhancements’ are being asked for without reading the full ticket. With this metric in place, the view of active requests associated with each of the 35 “Product Area/Service” selections are independent of the different product teams that own them.</p>
                <div class="section-container section-8-container-4">
                    <iframe class="responsive-iframe" src="https://aod.eazybi.com/accounts/64301/embed/report/2005088?embed_token=h2jf1m4yucak92b9x37lrwfxirj6p1uv3vbln70g3w9w8jnavybjv8t9ov7a" frameborder="0"></iframe>
                </div>
            </section>

            <section class="section" id="section-outro">
                <p>Love these metrics and want to see them more than once a month? Check out our Confluence Space: <a href="https://getcolor.atlassian.net/wiki/spaces/TSE/pages/1904444327/Milestones+and+metrics+from+TSE+Gate">Milestones and Metrics from the TSE gate</a>.</p>
                <p>Cheers!</p>
                <p>Breana, Steph, Quevin, & Truman</p>
            </section>

            {% comment %} <iframe width="1128" height="482" src="https://aod.eazybi.com/accounts/64301/embed/report/924767?embed_token=scc9lrlvn9rm6hnoivatjgoqw0rgxomkann6q2jwvshdom45n7isyfm12cr9" frameborder="0"></iframe> {% endcomment %}

        </main>

        <script src="" async defer></script>
    </body>
</html>