*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: clamp(720px, 75%, 1280px);
    margin: 0 auto;
}

.section {
    display: flex;
    flex-direction: column;
}

#section-splitview {
    display: grid;
    grid-template-areas: "sectionSplitViewLeft sectionSplitViewRight";
    grid-template-columns: 50% 50%;
}

#section-splitview-left {
    grid-area: sectionSplitViewLeft;
    display: flex;
    flex-direction: column;
}

#section-splitview-right {
    grid-area: sectionSplitViewRight;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 940px) {
    #section-splitview {
        grid-template-areas: none;
        grid-template-columns: none;

        display: flex;
        flex-direction: column;
    }
}
