*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 2rem;
    color: #353743;
}

/* MAIN */

main {
    width: clamp(720px, 75%, 1080px);
    margin: 0 auto;
    padding-inline: 5em;
}

/* SECTION */

.section {
    display: flex;
    flex-direction: column;
}

.section:not(#section-intro):not(#section-outro)::before {
    content: "";
    background-color: #321D70;
    border: 1px solid #321D70;
    width: 40px;
    height: 3px;
    margin-block: 1em;
}

#section-splitview {
    display: grid;
    grid-template-areas: "sectionSplitViewLeft sectionSplitViewRight";
    grid-template-columns: 50% 50%;
    gap: 2rem;
}

#section-splitview-left {
    grid-area: sectionSplitViewLeft;
    display: flex;
    flex-direction: column;
}

#section-splitview-right {
    grid-area: sectionSplitViewRight;
    display: flex;
    flex-direction: column;
}

/* SECTION INTRO: Title, Month, and Year */

#section-intro-title {
    font-size: 3rem;
}

#section-intro a:active,
#section-intro a:visited {
    color: #2854C5;
}

#section-intro img {
    max-width: 50%;
}

/* SECTION 1: Monthly Quick Numbers */

#section-1 ul {
    list-style-type: none;
}

/* MEDIA QUERIES */

@media screen and (max-width: 940px) {
    #section-splitview {
        grid-template-areas: none;
        grid-template-columns: none;

        display: flex;
        flex-direction: column;
    }
}