*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #F9FBFD;
}

h1 {
    font-family: 'Figtree', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: #353743;
}

h2 {
    font-family: 'Figtree', sans-serif;
    font-size: 1.2rem;
    color: #321D70;
    margin-bottom: 0.8em;
}

/* MAIN */

main {
    width: clamp(720px, 75%, 900px);
    margin: 1em auto;
    padding: 2em 6em;
    border: 1px solid black;
    background-color: #FFF;
}

main > .section > *:not(:first-child) {
    margin-block: 0.6em;
}

/* SECTION */

.section {
    display: flex;
    flex-direction: column;
}

.section:not(#section-intro):not(#section-outro)::before {
    content: "";
    background-color: #321D70;
    width: 40px;
    height: 3px;
    margin-block: 1em;
}

.section > .container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 90%;
}

.section > .container .responsive-iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#section-splitview {
    display: grid;
    grid-template-areas: "sectionSplitViewLeft sectionSplitViewRight";
    grid-template-columns: 50% 50%;
    gap: 2rem;
}

#section-splitview-left {
    grid-area: sectionSplitViewLeft;
    display: flex;
    flex-direction: column;
}

#section-splitview-right {
    grid-area: sectionSplitViewRight;
    display: flex;
    flex-direction: column;
}

/* SECTION INTRO: Title, Month, and Year */

#section-intro-title {
    font-family: 'Figtree', sans-serif;
    font-weight: 600;
    font-size: 3rem;
}

#section-intro a:active,
#section-intro a:visited {
    color: #2854C5;
}

#section-intro img {
    max-width: 80%;
}

/* SECTION 1: Monthly Quick Numbers */

#section-1 ul {
    list-style-type: none;
}

/* SECTION 4: Ticket Resolution Trends */



/* SECTION 7: Incident Management */

#section-7 ul {
    list-style-type: none;
}

#section-7 ul li {
    margin-block: 0.6em;
}

/* MEDIA QUERIES */

@media screen and (max-width: 940px) {
    #section-splitview {
        grid-template-areas: none;
        grid-template-columns: none;

        display: flex;
        flex-direction: column;
    }
}